@import "tailwindcss";

@font-face {
  font-family: 'Vercetti';
  src: url('/fonts/Vercetti-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #EFDFBB;
  --text: #722F37;
  --font-family: 'Vercetti', sans-serif;
}

.bg-theme {
  background-color: var(--background);
}

.text-theme {
  color: var(--text);
}

.font-theme {
  font-family: var(--font-family);
}
@keyframes clouds {
  0%, 100% { transform: translateX(15px); }
  50% { transform: translateX(0px); }
}

@keyframes sunshine {
  0% { transform: scale(1); opacity: 0.6; }
  100% { transform: scale(1.4); opacity: 0; }
}
